* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: var(--font-main);
    background-color: var(--warm-white);
    color: var(--dark-grey);
    line-height: 1.6;
  }
  
  h1, h2, h3 {
    font-weight: 600;
  }
  
  section {
    padding: 100px 80px;
  }
  
  img {
    max-width: 100%;
    display: block;
  }