.container {
    max-width: 1200px;
    margin: auto;
  }
  
  header {
    padding: 20px 80px;
    background: white;
    box-shadow: var(--soft-shadow);
  }
  
  footer {
    background: var(--beige);
    padding: 60px 80px;
  }
  
  .grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }