.gallery {
    padding: 100px 80px;
    text-align: center;
  }
  
  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  .gallery-item {
    background: #ddd;
    height: 250px;
    border-radius: 12px;
  }